.board-box {
    padding: 20px 25px 0;
    border: 1px solid #ebecef;
    border-radius: 6px;
}

.board-detail-top-container {
    display: flex;
    min-width: 800px;
    width: 60%;
    flex-direction: column;
    position: relative;
    margin-top: -15px;
    padding-bottom: 20px;
}

.board-detail-top-btn-container {
    display: flex;
    justify-content: space-between;
}

.board-detail-title {
    font-size: 26px;
    font-weight: 400;
    margin: 10px 0;
}

.post-separator {
    margin: 0;
    background-color: #ecf0f2;
    min-width: 750px;
    width: 100%;
}

.post-content-container {
    min-width: 800px;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 게시글 작성자 프로필 */
.writer-profile {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.writer-profile img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .08);
    margin: 0 10px 0 0;
}

.writer-info {
    display: flex;
    margin: 0;
    font-size: 15px;
}


/* 댓글 */
.comment-title {
    font-weight: 450;
}

.comment-list {
    margin-top: 20px;
}
  
.comment-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ecf0f2;
}

.comment-item:last-child {
    border-bottom: none;
}
  
.comment-item p {
    margin: 0;
}

.comment-item .user-name {
    font-weight: 450;
    font-size: 15px;
}
  
.comment-item .comment-content {
    margin: 3px 0;
    font-size: 14px;
}
  
.comment-item .created-at {
    font-size: 12px;
    color: #888;
}

.comment-input {
    display: flex;
    flex-direction: column;
}
  
.comment-input textarea {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ecf0f2;
    border-radius: 4px;
    resize: none;
    transition: border-color 0.3s;
}

.comment-input textarea:focus {
    border-color: #b4d1ff;
    outline: none;
  }
  
.comment-input button {
    width: 60px;
    margin: 10px 0 20px 0;
    padding: 8px 15px;
    background-color: #82b1ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
    margin-left: auto;
}
  
.comment-input button:hover {
    background-color: #467dc6;
}