.date-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.selected-salon-box {
    display: flex;
    background-color: #ffffff;
    padding: 15px;
    width: 60%;
    min-width: 560px;
    height: 34px;
    margin: auto;
    margin-top: 4px;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.selected-date {
    display: flex;
    font-size: 22px;
    margin-left: auto;
    margin-right: 10px;
    white-space: nowrap;
    color: #1f1f1f;
}

.time-selected-date {
    display: flex;
    font-size: 22px;
    margin-left: auto;
    margin-right: 10px;
    color: #1f1f1f;
}

.selected-time {
    display: flex;
    font-size: 22px;
    margin-right: 10px;
    overflow: hidden;
    color: #1f1f1f;
}

.options-container {
    display: flex;
    padding: 15px;
    margin: 25px 0;
    box-sizing: border-box;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 700px;
}

.calendar {
    display: flex;
    margin-left: 2%;
}

.time-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 650px;
    margin-left: 4%;
}

.time-options button {
    width: 120px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    background-color: #fff;
    color: #1f1f1f;
    border: 1px solid #ccc;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.time-options button:hover,
.time-options button.selected {
    background-color: #ffa9a9;
    color: white;
}

.time-options button:disabled {
    background-color: #f0f0f0;
    color: #c7c7c7;
    cursor: auto;
}