.date-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.selected-salon-box {
    display: flex;
    background-color: #e3e3e3;
    padding: 10px;
    width: 60%;
    height: 34px;
    margin: auto;
    margin-top: 4px;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.selected-salon-text {
    display: flex;
    font-size: 34px;
    margin-left: 10px;
    white-space: nowrap;
}

.selected-date {
    display: flex;
    font-size: 26px;
    margin-left: auto;
    margin-right: 10px;
    white-space: nowrap;
}

.time-selected-date {
    display: flex;
    font-size: 26px;
    margin-left: auto;
    margin-right: 10px;
}

.selected-time {
    display: flex;
    font-size: 26px;
    margin-right: 10px;
    overflow: hidden;
}

.options-container {
    display: flex;
    margin: 10px 0;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.calendar {
    display: flex;
    margin-top: 80px;
    margin-left: 14%;
}

.time-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 40px;
    max-width: 800px;
}

.time-options button {
    width: 152px;
    padding: 8px;
    font-size: 30px;
    text-align: center;
    background-color: #e3e3e3;
    color: black;
    border: none;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.time-options button:hover,
.time-options button.selected {
    background-color: #fc8b8b;
    color: white;
}

.time-options button:disabled {
    background-color: #f0f0f0;
    color: #c7c7c7;
    cursor: auto;
}

.next-button {
    margin-top: 50px;
    margin-left: 526px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}