.salon-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

/* .distance-label {
    display: flex;
    font-size: 15px;
    position: absolute;
    transform: translateY(-50%);
    left: 19%;
} */

.salon-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
}

.salon-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e3e3;
    padding: 20px;
    min-width: 560px;
    width: 60%;
    height: 34px;
    margin-top: 10px;
    position: relative;
}

.salon-name {
    font-size: 24px;
    margin-right: 10px;
}

.reservation-button {
    background-color: #7b8381;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.reservation-button:hover {
    background-color: #fc8b8b;
    color: white;
}