.salonreservation {
    background-color: #ffffff;
}

.step-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
}

.step {
    text-align: center;
    margin: 10px;
    font-weight: 400;
}

.step-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #e3e3e3;
    border-radius: 50%;
    margin-right: 8px;
    font-weight: 400;
}

.step.active {
    color: #88A5F6;
    font-weight: 500;
}

.step.active .step-circle {
    background-color: #88A5F6;
    color: #ffffffda;
    font-weight: 500;
}

.step-divider {
    margin: 0 12px;
    display: inline-block;
}

/* 컴포넌트 버튼 */
.reservation-button:hover,
.time-options button:hover,
.time-options button.selected,
.confirm-button:hover {
    background-color: #FC90A8;
    color: white;
    border-color: #E9EBED;
}

.time-options button:disabled,
.confirm-button:disabled {
    background-color: #f0f0f0;
    color: #c7c7c7;
    cursor: auto;
}