.img-container {
  display: flex;
  flex-direction: row;
}

.img-notice {
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
  font-size: 24px;
  font-weight: 500;
  color: #82B1FF;
  text-decoration: #fff7d6;
  text-decoration-thickness: 10px;
  text-underline-offset: -1.5px;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}

.down-btn {
  width: 130px;
  padding: 8px 15px;
  border: 1px solid #82b1ff;
  border-radius: 60px;
  transition: .4s;
  cursor: pointer;
  margin: 20px 10px;
  background-color: #82b1ff;
  color: white;
}

.down-btn:hover {
  background-color: #92c1ff;
  border: 1px solid #92c1ff;
}