.main {
  background-color: #E1F1FF; /* #E2F2FF */
  min-height: 100vh;
}

.main h1 {
  font-size: 80px;
  font-style: oblique;
  height: 600px;
  align-items: center;
  display: flex;
  margin: 0 80px;
  font-family: 'KBO-Dia-Gothic_bold';
  color: #404756;
}

.main .logo,
.main .logo-text {
  display: none;
}