.save-button button:disabled,
.save-button button:disabled:hover,
.withdrawal-button button:disabled,
.withdrawal-button button:disabled:hover {
    background-color: #f0f0f0;
    color: #c7c7c7;
    cursor: auto;
}

.join-button {
    text-align: center;
}

.save-button button,
.withdrawal-button button {
    width: 360px;
    height: 40px;
    margin: 0 0 10px 0;
    cursor: pointer;
    background-color: #b4d1ff;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    color: #f6f6f6;
}

.save-button button:hover,
.withdrawal-button button:hover {
    background-color: #c1d5f8;
}


.save-button,
.withdrawal-button {
    text-align: center;
}