.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 130px 0;
  }
  
  .loading-img {
    width: 150px;
    height: 150px;
  }
  
  .loading-msg {
    color: #656565;
    font-size: 18px;
  }