.total_wrap {
  margin: 0 80px;
  position: relative;
}

/* infowindow */
.salon-info {
  padding: 10px;
  font-size: 13px;
  line-height: 1.5;
  max-width: 200px;
  /* word-wrap: break-word; */
}

.salon-name strong {
  font-size: 15px;
  color: #76a1e6;
}

button.current-btn {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 8px 0 rgba(62, 62, 62, 0.369);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  transition: .3s;
}

button.current-btn:hover {
  background-color: rgba(236, 236, 236, 0.7);
}

.current-btn img {
  width: 20px;
  height: 20px;
}