.total_wrap {
  margin: 0 80px;
  position: relative;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* infowindow */
.salon-info {
  padding: 10px;
  font-size: 13px;
  line-height: 1.5;
  width: 200px;
  max-width: 200px;
  /* word-wrap: break-word; */
}

.salon-tel {
  color: #8a8a8a;
}

.salon-tel-mini {
  color: #89aad1;
  margin-top: 2px;
  font-size: 14px;
}

.salon-name strong {
  font-size: 15px;
  color: #76a1e6;
}

.salon-info .tel {
  color: #8a8a8a;
}

.salon-info a {
  color: #89aad1;
  text-decoration: none;
  transition: .3s;
}

.salon-info a:hover {
  color: #cdcdcd;
}

/* 나의 위치 버튼 */
button.current-btn {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 8px 0 rgba(62, 62, 62, 0.369);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  transition: .3s;
}

button.current-btn:hover {
  background-color: rgba(236, 236, 236, 0.7);
}

.current-btn img {
  width: 20px;
  height: 20px;
}

/* 미용실 목록 */
.salon-wrap {
  padding: 10px;
  width: 220px;
  height: 430px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 1px 1px 8px 0 rgba(62, 62, 62, 0.369);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  overflow-y: auto;
}

.list-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #efefef;
  border: 1px solid #d9d9d9;
  margin-bottom: 10px;
  color: #76a1e6;
  font-size: 20px;
  font-weight: 600;
}

#salon-list {
  margin-top: 1px;
  padding-left: 0px;
}

#salon-list h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

#salon-list li {
  list-style: none;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  cursor: pointer;
}

#salon-list li:hover {
  background-color: #f0f0f0;
}

#salon-list li strong {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

#salon-list li .salon-loc/* ,
#salon-list li .salon-tel */ {
  font-size: 14px;
  color: #666;
  /* margin-bottom: 2px; */
}