.wrapper {
  display: flex;
  margin: 0 80px;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  color: #1A1718;
}

.logo {
  width: 45px;
  height: 45px;
  cursor: pointer;
  filter: invert(62%) sepia(92%) saturate(524%) hue-rotate(187deg) brightness(100%) contrast(102%);
}

.logo-text {
  font-size: 20px;
  font-family: 'KBO-Dia-Gothic_bold';
  white-space: nowrap;
  margin: 0 10px -15px 0;
  cursor: pointer;
  color: #404756;
}

.navbar {
  width: 100%;
  display: flex;
  margin: 30px 0 15px 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  white-space: nowrap; /* 줄바꿈 방지, 간격 다른 문제 해결 */
}

.navbarMenu {
  color: #22232B;/* #1A1718 */
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  transition: .4s;
}

.navbarMenu:hover {
  color: #82B1FF; /* #77AFE6 */
}

.navbarMenu.btn {
  display: flex;
  width: 60px;
  padding: 8px 10px;
  margin-right: 0;
  border: .9px solid #22232B;/* #1A1718 */
  border-radius: 60px;
  transition: .4s;
  justify-content: center;
}

.navbarMenu.btn:hover {
  background-color: #82B1FF;
  color: white;
  border: .9px solid #82B1FF;
}