/* 줄 맞춤*/
.wrapper {
  display: flex;
  margin: 0 80px;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.logo {
  width: 45px;
  height: 45px;
  margin-right: 30px;
  cursor: pointer;
}

/* 오른쪽 정렬 */
.navbar {
  width: 100%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 20px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

/* 줄바꿈 방지 최소 길이 지정 */
.navbarMenu {
  min-width: 80px;
  color: #1A1718;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  transition: .4s;
}

.navbarMenu:hover {
  color: #77AFE6;
}

.navbarMenu.btn {
  display: flex;
  width: 50px;
  padding: 8px 10px;
  border: .9px solid #1A1718;
  border-radius: 60px;
  transition: .4s;
  justify-content: center;
}

.navbarMenu.btn:hover {
  background-color: #b4d1ed;
  color: white;
  border: .9px solid #b4d1ed;
}