.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shoot-btn {
  width: 130px;
  padding: 8px 15px;
  /* border: .9px solid #474747; */
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 60px;
  transition: .4s;
  cursor: pointer;
  background-color: transparent;
  color: #474747;
  margin: 20px 0;
}
.shoot-btn:hover {
  background-color: #82b1ff; /* #b4d1ed */
  color: white;
  border: .9px solid #82b1ff;
}

.shoot-btn:disabled,
.shoot-btn:disabled:hover {
  background-color: #f0f0f0;
  color: #c7c7c7;
  cursor: auto;
}

.warning-text,
.success-text {
  text-align : center;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.warning-text {
  color: #ff6161;
  background-color: #ffe8e8; 
  border: 1px solid #ff6161;
}

.success-text {
  color: #82b1ff;
  background-color: #dfeaff;
  border: 1px solid #82b1ff;
}