.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shoot-btn {
  width: 130px;
  padding: 8px 15px;
  /* border: .9px solid #474747; */
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 60px;
  transition: .4s;
  cursor: pointer;
  background-color: transparent;
  color: #474747;
  margin: 20px 0;
}
.shoot-btn:hover {
  background-color: #8D99ED; /* #b4d1ed */
  color: white;
  border: .9px solid #8D99ED;
}