.tab-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  width: 280px;
  text-align: center;
  margin-top: 30px;
  transition: .4s;
  font-size: 18px;
  color: #757575;
}

button.active {
  border-color: #cde0f2;
  border-bottom-color: #fafcff;
  background-color: #fafcff;
  color: #8797b0;
}

.input-container {
  padding: 92px;
  border: 1px solid #cde0f2;
  border-top: none;
  background-color: #fafcff;
}

.input-form {
  display: flex;
  flex-direction: column;
}

label {
  color: #757575;
  font-size: 15px;
}

input {
  width: 350px;
  height: 40px;
  margin: 10px 10px 10px 0;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #757575;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #c9deff;
}

input::placeholder {
  color: #c6c6c6;
}

.next-btn {
  width: 130px;
  padding: 8px 15px;
  border: 1px solid #cde0f2;
  border-radius: 10px;
  transition: .4s;
  cursor: pointer;
  background-color: #fafcff;
  color: #757575;
  margin: 20px 0;
  font-size: 15px;
}
.next-btn:hover {
  background-color: #eaf2ff;
}

.error-message {
  margin: 0 0 18px 0;
}